<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-content /--></main>
<!-- /wp:group -->

<style>

@media (max-width: 781) {
  .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow {
    padding-left: 0px !important;
  }
}

.wp-block-column.is-layout-flow.wp-block-column-is-layout-flow {
    padding-left: 0px !important;
}
</style>

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->