<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"metadata":{"categories":["posts"],"patternName":"core/block/1540","name":"Query Template"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"var:preset|spacing|20"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"var:preset|spacing|20"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-column" style="padding-right:0;padding-left:0;flex-basis:66.66%"><!-- wp:group {"metadata":{"categories":["header"],"patternName":"core/block/3608","name":"Heading Row"},"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:paragraph {"style":{"typography":{"fontSize":"3rem"},"elements":{"link":{"color":{"text":"var:preset|color|body-text"}}},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|20","left":"var:preset|spacing|40","right":"0"},"margin":{"right":"0","left":"0","top":"0","bottom":"0"}}},"backgroundColor":"paper","textColor":"body-text","fontFamily":"im-fell-english"} -->
<p class="has-body-text-color has-paper-background-color has-text-color has-background has-link-color has-im-fell-english-font-family" style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:var(--wp--preset--spacing--30);padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--40);font-size:3rem">Committee/Event:</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:terms-query {"termQuery":{"perPage":100,"taxonomy":"category","order":"asc","orderBy":"name","include":[],"hideEmpty":true,"showNested":false,"inherit":false}} -->
<div class="wp-block-terms-query"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--20);padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:term-template {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"very-light-gray","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-very-light-gray-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--40)"><!-- wp:term-name {"isLink":true} /-->

<!-- wp:term-count /--></div>
<!-- /wp:group -->
<!-- /wp:term-template --></div>
<!-- /wp:group --></div>
<!-- /wp:terms-query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"0"}}} -->
<div class="wp-block-column" style="padding-top:0;padding-bottom:0;flex-basis:33.33%"><!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"margin":{"bottom":"0"},"padding":{"top":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:0;padding-top:0"><!-- wp:group {"metadata":{"categories":["header"],"patternName":"core/block/3608","name":"Heading Row"},"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"0","margin":{"bottom":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--20);padding-top:0;padding-bottom:0"><!-- wp:paragraph {"style":{"typography":{"fontSize":"3rem"},"elements":{"link":{"color":{"text":"var:preset|color|body-text"}}},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|20","left":"var:preset|spacing|40","right":"0"},"margin":{"right":"0","left":"0","top":"0","bottom":"var:preset|spacing|20"}}},"backgroundColor":"paper","textColor":"body-text","fontFamily":"im-fell-english"} -->
<p class="has-body-text-color has-paper-background-color has-text-color has-background has-link-color has-im-fell-english-font-family" style="margin-top:0;margin-right:0;margin-bottom:var(--wp--preset--spacing--20);margin-left:0;padding-top:var(--wp--preset--spacing--30);padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--40);font-size:3rem">Committee/Event:</p>
<!-- /wp:paragraph -->

<!-- wp:query {"queryId":77,"query":{"postType":"article","perPage":10,"offset":0,"order":"desc","inherit":false,"__frmCustomFieldFilter":"_article_view_count"},"metadata":{"categories":[],"patternName":"core/block/3515","name":"Mirror Sidebar Query"},"__frmCustomFieldFilter":"_article_view_count"} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
<!-- wp:post-title {"textAlign":"left","isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}},"backgroundColor":"very-light-gray","fontSize":"medium"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->

<style>

.wp-block-column {
    word-break: unset;
}

</style>