span.wp-block-navigation-item__label:hover {
    background: white;
    color: black;
    padding: 0px 7px;
}

span.wp-block-navigation-item__label {
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 14px;
    font-size: 1.2rem;
}

a.wp-block-navigation-item__content.current-menu-ancestor {
    font-size: 1.2rem;
}

span.wp-block-navigation-item__label:hover {
    height: 61px;
    background: white;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    padding: 0px 14px;
    font-size: 1.2rem;
}

a.wp-block-navigation-item__content.current-menu-ancestor:hover {
    background: unset !important;
    height: 61px;
    color: black !important;
    display: flex;
    align-items: center;
}

a.wp-block-navigation-item__content.current-menu-ancestor {
    height: 61px;
    display: flex;
    align-items: center;
}

::selection {
    background-color: yellow;
    /* Highlight background color */
    color: black;
    /* Highlighted text color */
}

:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item a:not(.wp-element-button)),
:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu a:not(.wp-element-button)),
:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu button.wp-block-navigation-item__content),
:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-pages-list__item button.wp-block-navigation-item__content) {
    padding: unset;
}

li.has-small-font-size.wp-block-navigation-item.has-child.open-on-hover-click.fr-mirror-articles-nav.wp-block-navigation-submenu.has-roboto-mono-font-family {
    font-size: 1.2rem !important;
}

li.has-small-font-size.wp-block-navigation-item.has-child.open-on-hover-click.fr-mirror-articles-nav.wp-block-navigation-submenu.has-roboto-mono-font-family:hover {
    background: black;
    color: white;
}

li.has-small-font-size.wp-block-navigation-item.has-child.open-on-hover-click.fr-mirror-articles-nav.wp-block-navigation-submenu.has-roboto-mono-font-family {
    font-size: 1.2rem !important;
    height: 61px;
    background: black;
    color: white;
    padding: 0px 11px;
}

li.has-small-font-size.wp-block-navigation-item.has-child.open-on-hover-click.fr-mirror-articles-nav.wp-block-navigation-submenu.has-roboto-mono-font-family:hover {
    background: white;
    color: black;
}

li.has-small-font-size.wp-block-navigation-item.has-child.open-on-hover-click.fr-mirror-articles-nav.wp-block-navigation-submenu.has-roboto-mono-font-family:hover {
    cursor: grab;
}

@media(max-width: 700px) {
    nav {
        padding-left: 20px;
    }

    .wp-block-navigation.no-wrap {
        --navigation-layout-wrap: wrap;
    }
}

button.wp-block-navigation__responsive-container-close {
    color: #000000;
}


.rlussier-dark-mode button.wp-block-navigation__responsive-container-close {
    color: #ffffff;
}


button.wp-block-navigation__responsive-container-close {
    color: #000000;
}

.fr-mirror-bullet-points ul {
    margin-left: -30px !important;
}

@media(max-width: 1150px) {
    .fr-mirror-main-feed .wp-block-columns {
        display: flex;
        flex-direction: column;
    }
    .wp-block-query .wp-block-columns {
        display: flex;
        flex-direction: column;
    }
}

button.wp-block-search__button.has-text-color {
    display: none;
}

.cmswt-InstantSearch .ais-RefinementList-showMore {
    background-color: #2a2a2a !important;
    font-size: 16px;
    color: white;
    border-radius: 0px;
    padding: 5%;
    font-size: 20px !important;
    font-weight: 500;
}

.cmswt-Filter.cmswt-Filter-post_author.cmswt-Filter-collection_article {
    display: none;
}

.cmswt-InstantSearchPopup--results {
    background-color: var(--wp--preset--color--paper) !important;
}

a.cmswt-IndexSwitcher-link {
    color: var(--wp--preset--color--body-text) !important;
}

.cmswt-Results .hit-description {
    color: var(--wp--preset--color--body-text) !important;
}

.cmswt-Results .hit-contentLink .title {
    color: var(--wp--preset--color--headline-black) !important;
}

.ais-Panel-header {
    color: var(--wp--preset--color--headline-black) !important;
}

.cmswt-InstantSearch .ais-SearchBox-input {
    background: white !important;
}

.cmswt-InstantSearch .ais-SortBy-select {
    color: black !important;
}

.ais-HitsPerPage-select, .ais-MenuSelect-select, .ais-NumericSelector-select, .ais-ResultsPerPage-select, .ais-SortBy-select {
    border-radius: 0px !important;
}

.cmswt-InstantSearch .ais-SearchBox-input, .cmswt-InstantSearch .ais-SearchBox-input:focus {
    border-radius: 0px !important;
}

.cmswt-InstantSearch .ais-SearchBox-input:focus {
    border: 1px solid black !important;
}

.cmswt-InstantSearch .ais-SearchBox-input:focus {
    border: 1px solid black !important;
}

.cmswt-InstantSearch .cmswt-IndexSwitcher-item.active:after, .cmswt-InstantSearch .cmswt-IndexSwitcher-item:hover:after {
    background: var(--wp--preset--color--headline-black) !important;
}

.cmswt-CollectionMenu {
    border-bottom: 1px solid var(--wp--preset--color--headline-black) !important;
    width: 100%;
}

.cmswt-CollectionMenu-currentLabel {
    color: var(--wp--preset--color--headline-black) !important;
}

.cmswt-FilterPanel-toggleLabel {
    color: var(--wp--preset--color--headline-black) !important;
}

.cmswt-CollectionMenu-current {
    border: 1.5px solid var(--wp--preset--color--headline-black) !important;
}

.cmswt-FilterPanel-toggle {
    border: 1.5px solid var(--wp--preset--color--headline-black) !important;
}

.cmswt-Results img {
    border-radius: 0px !important;
}

.cmswt-FilterPanel a.cmswt-FilterPanel-itemsFooterCloseLink {
    background: #2a2a2a !important;
    border-radius: 0px;
}

.cmswt-FilterPanel-items {
    background: var(--wp--preset--color--paper) !important;
}

.cmswt-CollectionMenu-current svg {
    background: var(--wp--preset--color--headline-black) !important;
}

.cmswt-FilterPanel-toggleIcon {
    background: var(--wp--preset--color--headline-black) !important;
}

.ais-Hits-item .hit-description, .ais-InfiniteHits-item .hit-description {
    padding-top: 0px !important;
}

.cmswt-Results .cm-col-1 .ais-Hits-item, .cmswt-Results .cm-col-1 .ais-InfiniteHits-item {
    gap: 21px !important;
}

.cmswt-InstantSearchPopup--results {
    border-radius: 0px !important;
}

.ais-HierarchicalMenu-showMore, .ais-Menu-showMore, .ais-RefinementList-showMore {
    margin-top: 1.5rem !important;
}